/*.Header {*/
    /*text-align: center;*/
/*}*/

.Logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 40px;
    padding: 5px;
}

.Header {
    background-color: #222;
    height: 50px;
    padding: 2px;
    color: white;
    text-align: left;
}

.Title {
    font-size: 1.em;
    padding: 10px;
}
